<navigation-bar></navigation-bar>
<router-outlet></router-outlet>
<app-messages></app-messages>

<form [formGroup]="form" (ngSubmit)="onSubmit(model)">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
	<input
		id="name"
		class="form-control"
		formControlName="name"
	/>
	<input id="name2" type="text" formControlName="name2">
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<form novalidate>
	<input type="text" name="blah" [(ngModel)]="model.blah" required>
</form>

{{model | json}}

<hr />

<img src="assets/logo1.png" />
