/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@include mat-core();

@mixin angular-material-color-variation($attr-name, $category, $palette, $hues, $variation){

  $variationAttr: '';
  @if $variation != base {
    $variationAttr: '-#{$variation}';
  }

  &[#{$attr-name}-bg="#{$category}#{$variationAttr}"]{
    background-color: mat-color(
      $palette,
      map-get($hues, $variation)
    );
    color: mat-color(
      $palette,
      map-get($hues, $variation) + '-contrast'
    );
  }

  &[#{$attr-name}-fg="#{$category}#{$variationAttr}"]{
    color: mat-color(
      $palette,
      map-get($hues, $variation)
    );
  }

}


// Apply in elements attribute
// [color-custom-bg]="primary-dark"
// [color-custom-fg]="primary-light"
@mixin angular-material-theme-color-variation($category, $palette, $hues){

  $attr-name: 'color-custom';

  $variations: base, light, dark;

  @each $variation in $variations {
    @include angular-material-color-variation($attr-name, $category, $palette, $hues, $variation);
  }

}

@import "./theme-a";
@import "./theme-b";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
