
[theme="b"]{

  $theme-a-primary-hues: ("palette": $mat-purple, "base": 500, "light": 100, "dark": 900);
  $theme-a-accent-hues: ("palette": $mat-orange, "base": A200, "light": A100, "dark": A400);
  $theme-a-warn-hues: ("palette": $mat-pink, "base": 500, "light": 100, "dark": 700);

  $theme-a-primary: mat-palette(
    map-get($theme-a-primary-hues, palette),
    map-get($theme-a-primary-hues, base),
    map-get($theme-a-primary-hues, light),
    map-get($theme-a-primary-hues, dark)
  );

  $theme-a-accent:  mat-palette(
    map-get($theme-a-accent-hues, palette),
    map-get($theme-a-accent-hues, base),
    map-get($theme-a-accent-hues, light)
    map-get($theme-a-accent-hues, dark)
  );

  $theme-a-warn:  mat-palette(
    map-get($theme-a-warn-hues, palette),
    map-get($theme-a-warn-hues, base),
    map-get($theme-a-warn-hues, light)
    map-get($theme-a-warn-hues, dark)
  );

  $theme: mat-light-theme((
    color: (
      primary: $theme-a-primary,
      accent: $theme-a-accent,
      warn: $theme-a-warn,
    )
  ));

  @include angular-material-color($theme);

  * {

    @include angular-material-theme-color-variation('primary', $theme-a-primary, $theme-a-primary-hues);
    @include angular-material-theme-color-variation('accent', $theme-a-accent, $theme-a-accent-hues);
    @include angular-material-theme-color-variation('warn', $theme-a-warn, $theme-a-warn-hues);

  }

}
